<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentList</servlet-name>
        <servlet-class>com.servlet.StudentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentNew</servlet-name>
        <servlet-class>com.servlet.StudentNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseList</servlet-name>
        <servlet-class>com.servlet.CourseList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemInformationList</servlet-name>
        <servlet-class>com.servlet.SystemInformationList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDetail</servlet-name>
        <servlet-class>com.servlet.StudentDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentShowEdit</servlet-name>
        <servlet-class>com.servlet.StudentShowEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceShowEdit</servlet-name>
        <servlet-class>com.servlet.AttendanceShowEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolunteeringShowEdit</servlet-name>
        <servlet-class>com.servlet.VolunteeringShowEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseEdit</servlet-name>
        <servlet-class>com.servlet.CourseShowEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemInformationShowEdit</servlet-name>
        <servlet-class>com.servlet.SystemInformationShowEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceNew</servlet-name>
        <servlet-class>com.servlet.AttendanceNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceNewAllCourses</servlet-name>
        <servlet-class>com.servlet.AttendanceNewAllCourses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolunteeringEstudentId</servlet-name>
        <servlet-class>com.servlet.VolunteeringEstudentId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolunteeringNew</servlet-name>
        <servlet-class>com.servlet.VolunteeringNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCourse</servlet-name>
        <servlet-class>com.servlet.CourseNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemInformationNew</servlet-name>
        <servlet-class>com.servlet.SystemInformationNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentEdit</servlet-name>
        <servlet-class>com.servlet.StudentEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceEdit</servlet-name>
        <servlet-class>com.servlet.AttendanceEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolunteeringEdit</servlet-name>
        <servlet-class>com.servlet.VolunteeringEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemInformationEdit</servlet-name>
        <servlet-class>com.servlet.SystemInformationEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseEditt</servlet-name>
        <servlet-class>com.servlet.CourseEditt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentList</servlet-name>
        <url-pattern>/StudentList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentNew</servlet-name>
        <url-pattern>/StudentNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseList</servlet-name>
        <url-pattern>/CourseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemInformationList</servlet-name>
        <url-pattern>/SystemInformationList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDetail</servlet-name>
        <url-pattern>/StudentDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentShowEdit</servlet-name>
        <url-pattern>/StudentShowEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceShowEdit</servlet-name>
        <url-pattern>/AttendanceShowEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolunteeringShowEdit</servlet-name>
        <url-pattern>/VolunteeringShowEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseEdit</servlet-name>
        <url-pattern>/CourseEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemInformationShowEdit</servlet-name>
        <url-pattern>/SystemInformationShowEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceNew</servlet-name>
        <url-pattern>/AttendanceNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceNewAllCourses</servlet-name>
        <url-pattern>/AttendanceNewAllCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolunteeringEstudentId</servlet-name>
        <url-pattern>/VolunteeringEstudentId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolunteeringNew</servlet-name>
        <url-pattern>/VolunteeringNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCourse</servlet-name>
        <url-pattern>/NewCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemInformationNew</servlet-name>
        <url-pattern>/SystemInformationNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentEdit</servlet-name>
        <url-pattern>/StudentEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceEdit</servlet-name>
        <url-pattern>/AttendanceEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolunteeringEdit</servlet-name>
        <url-pattern>/VolunteeringEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemInformationEdit</servlet-name>
        <url-pattern>/SystemInformationEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseEditt</servlet-name>
        <url-pattern>/CourseEditt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
